 .login-page {
    width: 360px;
    border: .5px solid rgb(15, 14, 14);
    height:330px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 3px;
    margin-top: 10%;
    margin-left: 35%;
  }
  h1{
    margin-top:2px;
    font-family: sans-serif;
  }
  h4{
    padding-left: 10px;
    color:blue;
  }
  .customer{
    display: block;
    margin-left: 36.5%;
    padding-top: 55px;
  }
  .new{
    text-align: center;
    padding-top: 5px;
    opacity: .75;
  }
  #password {
    float: left;
    width: 45%;
  }
  .forgot-password {
    float: right;
    width: 35%;
    margin-top: 15px;
  }